RewriteEngine On

# Redirect root directory to login page
RewriteCond %{REQUEST_URI} ^/rootdir/?$ [NC]
RewriteRule ^$ /rootdir/view/login.php [L,R=302]

# Allow access to LogoutController.php
RewriteCond %{REQUEST_URI} !^/rootdir/controller/LogoutController.php$ [NC]
